version: "3.9"
services:
  intern-dns:
    image: defreitas/dns-proxy-server
    networks:
      - dmz
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/resolv.conf:/etc/resolv.conf
      - ./dns/conf:/app/conf
    hostname: dns.kouidri.fr
      

  web:
    build: ./web-server/.
    networks:
      - dmz
    hostname: www.kouidri.fr
    ports:
      - 80:80

  extern-dns:
    image: ubuntu/bind9
    networks:
      dmz:
        ipv4_address: 172.20.1.3 
    volumes:
      - ./dns/bind/kouidri.zone:/etc/bind/kouidri.zone
      - ./dns/bind/named.conf.local:/etc/bind/named.conf.local
    hostname: pub-dns.kouidri.fr
    ports:
      - 53/udp
      - 53/tcp
      - 953/tcp


networks:
  dmz: 
    ipam:
      driver: default
      config:
        - subnet: 172.20.1.0/24
          gateway: 172.20.1.254
        
  prive:
    ipam:
      driver: default
      config:
        - subnet: 172.20.2.0/24
          gateway: 172.20.2.254


