version: "3.9"
services:
  dns:
    image: ubuntu/bind9
    networks:
      - dmz
    volumes:
      - ./dns/kouidri.zone:/etc/bind/kouidri.zone
      - ./dns/named.conf.local:/etc/bind/named.conf.local
  web:
    image: web-page
    networks:
      - dmz

networks:
  dmz: 
    ipam:
      driver: default
      config:
        - subnet: 172.20.1.0/24
          gateway: 172.20.1.254
        
  prive:
    ipam:
      driver: default
      config:
        - subnet: 172.20.2.0/24
          gateway: 172.20.2.254


